
.sidebar-link {
  color: rgba(255, 255, 255, 0.6); /* dimmed */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.sidebar-link:hover {
  color: rgba(255, 255, 255, 1); /* full brightness on hover */
}
.navbar-custom {
  background-color: #1E2A30;
}