.scrolled{
  background-color: #177200;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out; /* Add transition for smooth fade-in */
}
.test {
  background-color: #e7141400;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out; /* Add transition for smooth fade-out */
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar a:hover {
  text-decoration: underline;
}
